<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>login practice</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <input type="hidden" name="next" value="{{next}}">
      <div class="">
        Username: <input type="text" name="username" value="" placeholder="Batman">
      </div>
      <div class="">
        Password: <input type="password" name="password" value="" placeholder="supermansucks">
      </div>
    </form>
  </body>
</html>
